@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


.field  {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    label {
        margin-bottom: 5px;
    }
}

.title-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    p-button {
        margin-right: 10px;
    }
}