@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.field  {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    label {
        margin-bottom: 5px;
    }
}

.title-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    p-button {
        margin-right: 10px;
    }
}


.caption {
    display: flex;
    justify-content: space-between;
}

.footer-edit {
    display: flex;
    justify-content: space-between;
}

.rowexpansion-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}
